<%= javascript_tag do %>
	function checkout_latest_orders()
	{
		$.ajax({
		  url: '/orders/currentcount',
		  type: "GET",
		  data: {},
		  success: function(data) {			
		  	 console.log(data);
			if($("#ordercount").val() < data){
				return window.location.href = '/orders';
			}
		  },
		  error: function() {
			return console.log("hey we failed");
		  }
		});
	}
	window.setInterval(function(){
	  checkout_latest_orders();
	}, 15000);
  
<% end %>

<% unless @orders == nil %>
<div class="innerpage">
	<input type="hidden" name="ordercount" id="ordercount" value="<%= @orders.count %>">
        <% unless @orders.count > 0 %>
          <h2 style="color: #333;">No Current Orders</h2>
        <% end %>

  	<div class="activeorders venuelist" style="margin-top: 20px;">
 	 	<ul>
 	 		<% if @orders.count > 0 %>
                        <% @orders.each do |item| %>
			<li>
				<div class="items lastest">
					<h2>NEW ORDER AT  <%= item.created_at.strftime('%r') %></h2>
				</div>
				<div class="orderdetails-wrapper">
					<ul class="orderitems">
                                          <% OrderItem.where(order_id: item.id).each do |oItem|  %>

						<li>
							<div><strong><%= oItem.item_quantity %> <%= oItem.item_name.pluralize %></strong></div>
						</li>
                                           <% end %>
					</ul>
					<ul>
						<li>Special Instructions : no matter</li>
					</ul>

					<% unless item.amount == nil %>
					<div class="ordertotal">Total: $<%= item.amount %></div>
					<% end %>


                    <% seat = Seat.where(user_id: @order.user_id).last %>
					<div class="orderposition">Row: <%= seat.row %> | Seat: <%= seat.seat %></div>
					<div class="orderstatus">Status: <%= item.status %></div>
					 <div class="row signupbutton-wrapper text-center">
						<button class="signinbtn" id="completeOrder" data-id="<%= item.id %>">MARK AS OUT FOR DELIVERY</button>
		 			</div>
				</div>
			</li>
                        <% end %>
                        <% end %>
		</ul>
	  </div>
	</div>
<% end %>






