<%= content_for :page_title, 'Order Status' %>
<%= content_for :back_link, '/pages/concessions' %>

<%= render 'shared/main_nav' %>
<div class="orderstatus-page text-center venuelist">
		  	<ul>
				<li class="orderheader">
					<div class="smallfont" >
						Check on the status of the orders you placed:
					</div>
				</li>
				<li class="orderdetails">
					<div class="orderdetails-wrapper" >
						<div class="ordernumber">ORDER #<%= @order.id %> - <%= @order.created_at.strftime('%r') %> </div>
						<ul class="orderitems">
                                                        <% @orderItems.each do |item| %>
                                                           <% if item.item_quantity > 0 %>
                                                            <li><%= item.item_quantity %> <%= item.item_name %></li>
                                                           <% end %>
                                                        <% end %>
						</ul>
						<div class="ordertotal">Total:  $<%= p '%.2f' % (@order.amount.to_i/100.0) %>
</div>
						<div class="orderposition">Row: <%= @seat.row  %>| Seat: <%= @seat.seat %></div>
						<div class="orderstatus">Status: <%= @order.status %></div>
					</div>
				</li>

			</ul>
		  </div>
		   <div class="row signupbutton-wrapper text-center">
				<a href="<%= order_path @order %>" class="signinbtn" style="display: block; width: 100%;">Confirm Order</a>
			</div>
		</div>
