
		<div class="innerpage">
                  <%= render 'shared/main_nav' %>
		   <!-- /row -->
		  <div class="venuepage venuelist">
		  	<ul>
				<li>
                                  <a href="<%= new_seat_path %>">
					<div class="venueimg">
						<%= image_tag "ou_icon.png" %>
					</div>
					<div class="venuedetails">
						<h2>GAYLORD FAMILY OKLAHOMA MEMORIAL STADIUM</h2>
						180 EAST BROOKS ST
					</div>
					</a>
				</li>
				<li>
                                  <a href="<%= new_seat_path %>">
					<div class="venueimg">
						<%= image_tag "ou_icon.png" %>
					</div>
					<div class="venuedetails">
						<h2>LLOYD NOBLE CENTER</h2>
						2900 SOUTH JENKINS AVE
					</div>
 				</a>
				</li>
			</ul>
		  </div>
		</div>
