  <div class="innerpage">
      <nav class="navbar">
      <div class="text-center title"><span class="logoicon float-left"></span><span>JOIN SUITE SEATS</span><span class="menu float-right"></span></div>
      </nav>
       <!-- /row -->
      <div class="row ">
      <div class="text-center tab-wrapper">
        <ul>
        <li><a href="<%= new_user_registration_path %>">Sign Up</a></li>
        <li class="active"><a href="<%= new_user_session_path %>">Sign In</a></li>

        </ul>
      </div>
      </div>
      <div class="text-center signin-form">



<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="fields">
    <div class="leftico float-left"></div>
    <div class="field_form float-left">
      <%= f.email_field :email, autofocus: true, class: "inputfield", placeholder: "Email" %>
    </div>
    <div class="rightico float-left"></div>
    <div class="clear"></div>
    <div class="leftico float-left"></div>
    <div class="field_form float-left">
      <%= f.password_field :password, autocomplete: "off", class: "inputfield", placeholder: "Password" %>
    </div>
    <div class="rightico float-left"></div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field remember-me-container">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="row signupbutton-wrapper text-center">
    <%= f.submit "Sign In", class: "signinbtn" %>
  </div>
<% end %>



      </div>
     
      <div class="row signup-bottom text-center">     
      <%= render "devise/shared/links" %>
      </div>
    </div>
